body {
    background-color: mediumslateblue;
}

.container {
    background-color: white;
    padding: 40px;
    margin: 40px auto;
    width: 300px;
    border-radius: 20px;
    text-align: center;
    font-size: 18px;
}

#inputValue,
#btnCheck {
    padding: 10px;
    width: 30%;
    margin: 10px;
    border-radius: 5px;
}

#btnCheck {
    background: mediumslateblue;
    color: #fff;
}